.Polaris-TopBar {
  background-color: #fff;

  .Polaris-TopBar-Menu__Activator:hover,
  .Polaris-TopBar-Menu__Activator:active,
  .Polaris-TopBar-Menu__Activator[aria-expanded='true'] {
    opacity: 1.2;
  }

  .Polaris-TopBar-UserMenu__Details {
    .Polaris-TopBar-UserMenu__Name,
    .Polaris-TopBar-UserMenu__Detail {
      color: #000;
    }
  }

  .Polaris-TopBar__NavigationIcon .Polaris-Icon svg {
    fill: #ffffff;
  }
}

.Polaris-Frame__Navigation .Polaris-Navigation__LogoContainer {
  background: #ffffff;
}
